.container{
  height: 100vh;
  width: 95%;
}

ul#links{
  margin-top: 3%;
  margin-left: 50%;
}
#links li{
  list-style: none;
  display: inline;
  margin-left: 5%;
}
#landing{
  height: 80vh;
}

h1#yes{
  font-size: 16em;
  margin-left: 30%;
  margin-top: 45%;
}

#buttons{
  text-align: center;
}
#buttons button{
  margin-left: 5%;
}

#vic{
  width: 80%;
  height: auto;
  margin-top: 25%;
}
