.container{
  height: 100vh;
}

#canvas{
  height: 80vh;
}
#canvas h1{
  font-size: 200px;
  padding-top: 15%;
  padding-left:65%;
}
#links{
  margin-left:75%;
}

#header li{
  width: 100px;
}

#header li{
  display:inline;
  margin-left: 3%;
}
#logo li{
  margin-right: 40%;
}
#header ul{
  margin-top: 3%;
}

#navi button{
  margin-left: 18%;
}
