h1,h2,h3,h4,h5,h6 {
}
.row-nav li{
    list-style: none;
    display: inline;
    text-align: center;

}



.container{
  height: 100vh;
  width: 95%;
}

.row-victor{
  width: 20%;
  margin-left: 70%;
}


#niggaLee{
  width:20%;
  margin-right: 60%;
}




/* END OF MAIN PAGE*/


/* TYPED CURSOR BLINK CSS */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* END OF CURSOR BLINK CSS*/



/* ABOUT PAGE */

#page2{
  background-color: #000000;
  width:100%;
}

#page2 .row{
  padding-left: 3%;
  padding-right: 3%;
}
#alex{
  width: 80%;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 35%;
}


#aboutContent h2{
  margin-bottom: 15%;
}

#aboutContent p{
  margin-top: 3%;
  font-size: 1.7em;
  color: #ffffff;
}

#page2 i{
  margin-top: 10%;
  margin-left: 50%;
}

#dropDown2{
  font-size: 7em;
}

/*Particle Js*/

.particles-js-canvas-el{
  margin-top:12%;
  width: 100%;

}




/* MEDIA QUERY SHIT HERE */

/* iPhone 6 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .type-wrap{
      margin-left: 10%;
      padding-left: 5%;
      font-family: 'Roboto',sans-serif;
      margin-top: 15%;
      color: white;
      font-size: 4em;
      border: 1px solid #23c60d;
      border-radius: 4em;
      background-color: #23c60d;
      width: 85%;
      position:absolute;
    }
    #vic img{
      width: 10%;
      border-radius: 50%;
      margin-right: 90%;
    }

    #victor{
      margin-top:20%;
      margin-left:0;
    }

    h1#yes{
      font-size: 11em;
      margin-left: 20%;
      margin-top: 55%;
      font-family: 'Roboto', sans-serif;;
    }

}
